body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
.pp {
    max-width: 150px;
    max-height: 150px;
}

.pp-container{
    max-width: 150px;
    max-height: 150px;
}
*/


/*
table{
    margin-top: 5px;
    border-collapse: collapse;
}

th, td{
    border:3px solid black;
    padding: 5px;
}

th{
    background-color: darkturquoise;
}

.cell1{
    border: 0px;
    background-color: white;
}

 */

.pp-container {
    position: relative;
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}
.pp {
    width: 100%;
    height: auto;
    margin-top: -40px;
}


.pcard {
    width: fit-content;
    text-align: center;
    line-height: .01;
    margin-top: 20px;
}

.pcard--role{
    font-size: 15px;
    alignment: center;
}

.pcard-container{
    width: fit-content;
}

.top-list-element{
    width: 200px;
}

.toplist{
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.toplist--ext{
    border:1px solid black;
    width: fit-content;
    border-radius: 20px;
    margin-top: 0px;
}

.toplist-wrap{
    flex: 1 0 30%;
    padding: 10px;
}

.toplist-section{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border:1px solid black;
    width: fit-content;
    border-radius: 20px;
    padding-top: -10px;
}

.admin-page{
    margin: 10px;
}

.toplist-border{
    display: flex;
    flex-flow: column;
    flex: 1 0 50%;
    padding: 10px;
}

.button--generate {
    background-color: dodgerblue;
    color: black;
    margin: 2px;
    width: fit-content;
    border-radius: 10px;
}

.button--generate:active {
    background-color: mediumblue;
    box-shadow: 0 2px #666;
}

.button--generate:hover{
    background-color: royalblue;
}

.generate-report{
    display: flex;
    flex-flow: column;
    width: max-content;
    border:1px solid black;
    border-radius: 20px;
    max-width: 400px;
    padding: 10px;
}

.info-section{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.generate-section{
    flex: 1 0 30%;
}

.right-side{
    display: flex;
    flex-flow: column;
}

p{
    margin: 0px;
    text-align: left;
}

.review-scrollable{
    width: 350px;
    border:1px solid black;
    border-radius: 20px;
    padding-right: 10px;
    height: 500px;
    overflow: scroll;
}

.review{
    margin-left: 5px;
}

.review-title{
    margin: 0px;
}

h2, h4{
    text-align: left;
}

.review-list-title{
    flex: 1 0 60%;
    margin-bottom: 0px;
}

.review-list{
    width: 350px;
    margin-left: 5px;
}

.review-header{
    width: 350px;
    display: flex;
}

.review-stars-value{
    display: flex;
}