.placeSmall{
    width: 100%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0,0,0,0);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;    
}
.placeImage{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;

}
.placeImage img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
}
.placeImage:hover img{
    transform: scale(1.3);

}
.placeInfo{
    padding: 0 1rem;
}
.price{        
    display: flex;      
    justify-content: space-between; 
}
.Title{
    font-size: 1.1rem;
    font-weight: 700;
}
.rate{
    font-size: 1.1rem;
}
@media screen and (max-width:850px){
    .placeSmall{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}