.button-edit {
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
}

.button--submit {
    background-color: dodgerblue;
    color: black;
    margin: 2px;
    border-radius: 10px;
}

.button--submit:active {
    background-color: mediumblue;
    box-shadow: 0 2px #666;
}

.button--submit:hover{
    background-color: royalblue;
}

.review_form{
    display: flex;
    flex-flow: column;
    width: max-content;
    margin: 10px;
}

.stars{
    alignment: center;
}

.title{
    margin: 2px
}

.comment{
    margin: 2px;
}

.review-title-edit{
    display: flex;
}

.reviewer-name{
    flex: 1 0 80%;
}