.MuiFormHelperText-root {
    color: #ff0000 !important;
    font-size:medium;
    text-align: center;
  }

  .Login {
    text-align: center;
    padding: 30px;
  }
  
  .logoSignUp {
    height: 30vmin;
    pointer-events: none;
    padding-top: 5%;
  }
  
  .Signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: #0122BB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  .Signup-link {
    color: #61dafb;
    cursor: pointer;
  }

  .Signup-button{
    background-color: #000000;
    color: #0122BB;
  }

  .email-field{
    background-color: #0122BB;
    padding-top: 20%;
  }

  .password-field{
    color: #000000;
    padding-top: 25%;
  }